<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo hide-on-small-only">Invoices App</a>    
    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/clients">Clients</a></li>
      <li><a href="/invoices">Invoices</a></li>      
    </ul>
    <ul class="side-nav" id="mobile-menu">
      <li class="hide-on-med-and-up"><a href="/">Invoices App</a>
      <hr class="hide-on-med-and-up">
      <li><a href="/clients">Clients</a></li>
      <li><a href="/invoices">Invoices</a></li> 
    </ul>
  </div>
</nav>

<script>
  (function () {
    $(".button-collapse").sideNav({
      closeOnClick: true
    });
  })();
</script>